<h2>My Events</h2>
<div *ngIf="loading" class="loader"></div>
<div style="display:flex; gap:20px; margin-bottom:30px;">

  <div class="card" style="flex:1;">
    <h3>Total Events</h3>
    <p style="font-size:24px; font-weight:600;">{{ events.length }}</p>
  </div>

  <div class="card" style="flex:1;">
    <h3>Registrations</h3>
    <p style="font-size:24px; font-weight:600;">{{ registeredEventIds?.length || 0 }}</p>
  </div>

</div>

<div class="card">
  <h3>Event Analytics</h3>
  <canvas id="myChart"></canvas>
</div>

<div *ngFor="let event of events" class="card">

  <h3>{{ event.title }}</h3>
  <p>{{ event.description }}</p>

  <span 
    class="badge"
    [ngClass]="{
      'badge-published': event.status === 'PUBLISHED',
      'badge-draft': event.status === 'DRAFT'
    }">
    {{ event.status }}
  </span>

  <br><br>

  <button
    *ngIf="event.status === 'DRAFT'"
    (click)="publish(event.eventId)"
    class="btn-success">
    Publish
  </button>

</div>